<h1 class="text-center mt-3 mb-3"></h1>
<div class="card">
    {{!-- <div class="card-header">
        <div class="row">
            <div class="col">Sample Data</div>
            <div class="col">
                <a href="/sample_data/add" class="btn btn-success btn-sm float-end">Add</a>
            </div>
        </div>
    </div> --}}
    {{#ifeq user.admin true}}
    {{#each sampleData}}
    <div class="card-body">
        
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>Admin Status</th>
                    <th>Member Status</th>
                    <th>Profile Description</th>
                    <th>Profile Picture</th>
                    <th>Edit User Profile</th>
                    <th>Enable Admin</th>
                    <th>Enable Member</th>
                </tr>

                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.mobile}}</td>
                    <td>{{this.admin}}</td>
                    <td>{{this.member}}</td>
                    {{#ifeq this.description ""}}
                    <td>None</td>
                    {{else}}
                    <td>{{this.description}}</td>
                    {{/ifeq}}
                    <td>
                        
                        {{#ifeq this.profilePicture "none"}}
                        <img class ="rounded-circle" height ="30px;" width="30px;"src="/assets/img/profile.jpg">
                        {{else}}
                        <img src="data:image/png;base64, {{this.profilePicture}}" class ="rounded-circle" height ="30px;" width="30px;">
                        {{/ifeq}}
                    </td>
                    <td>
                        <a href="/admin/updateUserFromAdmin/{{this.id}}" class="btn btn-primary btn-sm">Edit</a>
                    </td>
                    <td>
                        {{#ifeq this.admin true}}
                        <a href="/admin/updateAdmin/{{this.id}}" class = "btn btn-danger btn-sm">Disable Admin</a>
                        {{else}}
                        <a href="/admin/updateAdmin/{{this.id}}" class = "btn btn-success btn-sm">Enable Admin</a>
                        {{/ifeq}}
                    </td>
                    <td>
                        {{#ifeq this.member false}}
                        <a href="/admin/updateMember/{{this.id}}" class = "btn btn-warning btn-sm">Enable Member</a>
                        {{else}}
                        <a href="/admin/updateMember/{{this.id}}" class = "btn btn-warning btn-sm">Disable Member</a>
                        {{/ifeq}}
                    </td>
                </tr>
                {{#ifeq sampleData.length 0}}
                <tr>
                    <td colspan="5">No Data Found</td>
                </tr>
                {{/ifeq}}

            </table>
        </div>
    </div>
</div>
{{else}}
<h1>No data found</h1>
{{/each}}
{{else}}
<h1>You are not authorised</h1>
{{/ifeq}}
</div>