<div class="container">
    <div class="card">
        <div class="card-body mx-3">
            {{#each cartItems}}
            <div id="item-{{ this.id }}" class="row item mb-3">
                {{!-- Picture --}}
                <div class="col-2 item-picture bg-dark">
                    <img src="" alt="Item Image">
                </div>
                <div class="col-3 item-info mt-3" align="center">
                    {{!-- Item Name --}}
                    <div>Name</div>
                    <strong>{{ this.product.name }}</strong>
                    {{!-- Optional --}}
                    {{!-- <div class="row item-description">
                        <div class="col">Color: Grey</div>
                        <div class="col">Size: 6.7'</div>
                    </div> --}}
                </div>
                {{!-- Quantity --}}
                <div class="col-2 item-quantity mt-3">
                    <div class="text-center">Quantity</div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-link btn-item-quantity" data-action="add" data-id="{{ this.id }}">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </button>
                        <div 
                            id="item-quantity-number-{{ this.id }}" 
                            class="item-quantity-number d-flex align-items-center"
                        >
                            {{ this.quantity }}
                        </div>
                        <button class="btn btn-link btn-item-quantity" data-action="minus" data-id="{{ this.id }}">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                {{!-- Unit Price --}}
                <div class="col-2 item-unit-price mt-3" align="center">
                    <div>Unit Price</div>
                    <strong>${{ this.product.price }}</strong>
                </div>
                {{!-- Total Price --}}
                <div id="item-total-price-{{ this.id }}" class="col-2 item-total-price mt-3" align="center">
                    <div>Total Price</div>
                    <strong>${{ calculate this.product.price this.quantity }}</strong>
                </div>
                {{!-- Delete Button --}}
                <button data-id="{{ this.id }}" class="col-1 btn btn-danger my-auto btn-delete">Delete</button>
            </div>
            {{/each}}

        </div>
        <div class = "displayTotalPrice">
            <h1>Total Order Price : {{megaPrice}}</h1>
            </div>
        <div class="card-footer d-flex justify-content-end">
            <button class="btn btn-order">Order</button>
        </div>
    </div>
</div>
<style>
    .btn-order {
        background-color: rgba(24, 6, 185, 0.8);
        color: rgb(255, 255, 255);
    }
    .item-picture {
        min-height: 100px;
        max-height: 100px;
        min-width: 75px;
        max-width: 75px;
    }
    .item:last-child {
        margin-bottom: 0 !important;
    }
</style>
<script>
    // get all elements with class="quantity-btn"
    const modifyQuantityBtn = document.querySelectorAll(".btn-item-quantity");

    // assigns event listener to every button
    modifyQuantityBtn.forEach((btn) => {
        btn.addEventListener("click", async () => { 
            // when the button is clicked, the code below will run

            // send a request to url="/cart/cart/<cart item id>/<action>"
            // the url will contain the cart item id and action
            // possible actions:
            //      add
            //      minus
            const itemId = btn.dataset.id;
            const response = await fetch(`/cart/cart/${itemId}/${btn.dataset.action}`, { method: 'POST' });
            const { quantity, totalPrice , megaPrice} = await response.json();
            if (quantity == 0) {
                const itemDiv = document.getElementById(`item-${itemId}`);
                itemDiv.remove();
                return
            } 

            // change quantity and total price number
            const quantityDivId = `item-quantity-number-${itemId}`;
            const quantityDiv = document.getElementById(quantityDivId);
            quantityDiv.innerText = quantity;

            const totalPriceDivId = `item-total-price-${itemId}`;
            const totalPriceDiv = document.getElementById(totalPriceDivId);
            totalPriceDiv.innerText = `$${totalPrice}`;

            const displayTotalPrice = document.querySelectorAll(".displayTotalPrice");
            displayTotalPrice.innerHTML =`$${megaPrice}`;
        })
    })

    const deleteBtns = document.querySelectorAll(".btn-delete");
    deleteBtns.forEach((btn) => {
        btn.addEventListener("click", async () => {
            const itemId = btn.dataset.id;
            const response = await fetch(`/cart/delete/${itemId}`, { method: 'DELETE' });
            const { destroyed } = await response.json();
            console.log(`Successfully deleted cart item ${itemId}`);
            const itemDiv = document.getElementById(`item-${itemId}`);
            itemDiv.remove();
        });
    });

</script>