<h3 class="d-flex justify-content-center row">Delivery details Summary</h3>
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="rounded">
                <div class="table-responsive table-borderless">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <div class="toggle-btn">
                                        <div class="inner-circle"></div>
                                    </div>
                                </th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Unit No.</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            {{#each deliverydetails}}
                            <tr class="cell-1">
                                <td class="text-center">
                                    <div class="toggle-btn">
                                        <div class="inner-circle"></div>
                                    </div>
                                </td>
                                <td>{{this.firstname}}</td>
                                <td>{{this.lastname}}</td>
                                <td>{{this.unitnumber}}</td>
                                <td>{{this.address}}</td>
                                <td>{{this.phone}}</td>
                                <td><a href="/deliverydetails/editdetails/{{this.id}}" class="card-link mb-2">
                                        <i class="fas fa-pencil-alt"></i>
                                        Edit
                                    </a>
                                    <a href="/deliverydetails/deleteDetails/{{this.id}}"
                                        onclick="return confirm('Are you sure you want to delete?')"
                                        class="card-link mb-2">
                                        <i class="fas fa-pencil-alt"></i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>