<a href="/product/editProduct/{{product.id}}" class="card-link mb-2">
  <i class="fas fa-pencil-alt"></i>
  Edit
</a>
<div class="container mt-5">
  <div class="row p-2">
    <div class="col-6">
      <img
        src="https://storage.cloud.google.com/handyhandphone/{{product.productPic}}"
        class="img-fluid bg-light mx-auto d-block"
        style="height: 500px;"
        alt="prod img"
      />
    </div>
    <div class="col-6 p-2 rounded my-auto bg-light">
      <div class="my-auto">
        <h3>{{product.name}}</h3>
        <h4 class="text-success">${{product.price}}</h4>
        <p>{{product.description}}</p>
        <button style="width:100%" class="btn btn-success mt-auto d-block"><a
            class="text-white"
            href="/cart/addcart/{{product.id}}"
          >Add To Cart</a></button>
      </div>
    </div>
  </div>
</div>