<h1 class="text-center my-3">Products</h1>
<style>
</style>
<button class="btn border px-auto"><a href="addproduct">Add Product</a></button>
<button class="btn border px-auto"><a href="productadmin">Admin</a></button>

<div class="card card-body">

    <div style="width: 60vw; background-color:azure; " class="p-5 mx-auto">
        <h3 class="text-primary text-center">Featured Products</h3>

        <div class="row">
            {{#each products}}

            <div class="col-4 my-3">
                <a href="/product/productdetails/{{this.id}}">
                    <h4 class="text-center">{{this.name}}</h4>
                    <div style="">
                        <img src="data:image/png;base64, {{this.productPic}}" class=" img-fluid bg-light p-5"
                            style="" alt="prod img">
                    </div>

                    <p class="text-center text-success">${{this.price}}</p>

                    <button style="display: block;  margin-left: auto;  margin-right: auto; width: 50%;"
                        class="btn btn-success mt-auto"><a class="text-white" href="/cart/addcart/{{this.id}}">Add To
                            Cart</a></button>
                </a>
            </div>
            {{/each}}
        </div>

    </div>
    <!--<div class="card border-primary"
            style="flex-basis: 33%;padding: 10px; min-width: 200px;margin-bottom: 50px;transition: transform 0.2s;">

            <p style="color:black;">{{this.name}}</p>
            <a href="/product/editProduct/{{this.id}}" class="card-link mb-2"> <i class="fas fa-pencil-alt"></i> Edit
            </a>
            <a href="/product/deleteProduct/{{this.id}}">Delete button</a>
        </div> -->
</div>

</div>