<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/lightbox.css"  rel="stylesheet">
    <style>
        body {
            background: linear-gradient(to right, #243B55, #141E30);
        }
        .imagebox{
            display: flex;
            flex-direction: row;
        }
        .gallery {
            margin : 10px 50px;
        }
        .gallery img{
            transition: 1s;
            padding: 15px;
            width: 200px;
        }
        .gallery img:hover{
            filter: grayscale(10%);
            transform : scale(1.2);
        }
        .separator {
            margin: 3rem 0;
            border-bottom: 1px dashed #fff;
        }

        .text-uppercase {
            letter-spacing: 0.1em;
        }

        .text-gray {
            color: black;
        }

        .vertical-nav {
            min-width: 13rem;
            width: 13rem;
            height: 50vh;
            position: fixed;
            top: 10;
            left: 0;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
            transition: all 0.4s;
        }

        .page-content {
            width: calc(100% - 17rem);
            margin-left: 17rem;
            transition: all 0.4s;
        }

        #permi {
            position: relative;
            width: 180px;
        }

        #result {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            padding: 10px 0;
        }

        .thumbnail {
            height: 100px;
        }

        /* for toggle behavior */
    </style>
</head>

<body>
    <div class="body1">

        <!-- Vertical navbar -->

        <div class="vertical-nav bg-dark" id="sidebar">
            <div class="py-4 px-3 mb-4 bg-dark">
                <div class="media-body">
                    <h4 class="font-weight-white text-white mb-0">Ticket Information</h4>
                    <p class="font-weight-white text-white mb-0">Ticket Submitted by : {{user1.name}}</p>
                </div>
            </div>
            {{#ifeq TicketData.status false}}
            <div class="nav flex-column bg-dark mb-0">
                <p class="text-white font-weight-bold text-uppercase px-3 small pb-4 mb-0">Ticket Category :
                    {{TicketData.category}}</p>
                <p class="text-white font-weight-bold text-uppercase px-3 small pb-4 mb-0">Ticket Finish Status :
                    {{TicketData.status}}</p>
            </div>
            {{#ifeq user.admin true}}
            <div class="nav flex-column bg-dark mb-0">
                {{#ifeq PermissionData null}}
                <a class="btn btn-warning" href="/ticket/requestAccess">
                    Request Access
                </a>
                {{else}}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Give Permission
                </button>
                {{/ifeq}}
            </div>
            {{/ifeq}}
            {{else}}
            <div class="nav flex-column bg-dark mb-0">
                <h2 class="text-white font-weight-bold text-uppercase px-3 small pb-4 mb-0">Ticket has been closed</h2>
            </div>
            {{/ifeq}}
        </div>

        <!-- End vertical navbar -->

        <div class="page-content p-5" id="content">
            <!-- Toggle button -->
            <!-- Demo content -->
            <h2 class="display-4 text-white">Ticket Response Section</h2>
            <p class="lead text-white mb-0">This is where your ticket issues will be held and settled
            </p>
            <div class="separator"></div>
            <p class="lead text-white mb-0 text-bold">Ticket Message :
                {{TicketData.message}}</p>
            {{#each ResponseData}}
            <div class="text-white">
                <div class="text-center border border-light p-5">
                    <p>Responses to this ticket</p>
                    <p>{{this.senderId}}</p>
                    <p>Reply : {{this.reply}}</p>
                    {{!-- images --}}
                    <div class="imagebox">
                    {{#each this.TicketImages}}
                    <div class="gallery">
                        <div class="img-w">
                            <a data-lightbox = "images" href="data:image/jpeg;base64,{{this.base64}}"><img id = "image" src="data:image/jpeg;base64,{{this.base64}}" alt="" /></a>
                        </div>
                    </div>
                        {{/each}}
                                                
                    </div>
                </div>
            </div>
            {{/each}}


            <div class="separator"></div>
            {{#ifeq TicketData.status false}}
            {{!-- response forms section --}}
            <div class="text-white">
                <form class="text-center border border-light p-5" method="POST" id="form69"
                    enctype="multipart/form-data">
                    <p class="h4 mb-4">Send your response</p>
                    <p>Ticket Id {{TicketId}}</p>
                    <p>Your user ID {{user.id}}</p>
                    <!-- Message -->
                    <div class="form-group">
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
                            placeholder="Message" name="reply"></textarea>
                    </div>

                    {{!-- images --}}
                    {{!-- <input type="file" name="img"> --}}

                    {{!-- test --}}
                    <label for="files">Upload Images (Visualise Problem)</label>
                    <input id="files" type="file" multiple="multiple" accept="image/jpeg, image/png, image/jpg"
                        name="imageFile">

                    <output id="result"></output>
                    <button class="btn btn-info btn-block" type="submit">Send</button>
                    <!-- Send button -->
                </form>
            </div>
            {{#ifeq user.admin true}}
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter1">
                Complete Ticket
            </button>
            {{/ifeq}}
            {{else}}
            <h1 class="text-white font-weight-bold text-uppercase large">Ticket Closed</h1>
            {{/ifeq}}

        </div>

    </div>



    {{!-- admin users popup --}}
    <!-- Button trigger modal -->


    <!-- Modal Give permission -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Admin Users (Give Permission)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{#getProperty AdminUsers}}
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <span>Name of admin : {{property}} Permission : {{value}}</span>
                                    </div>
                                    {{#ifeq value "false"}}
                                    <div class="align-self-center">
                                        <a href="/ticket/giveTicketPermission/{{property}}" class="btn btn-success"
                                            id="permi">Give Permission</a>
                                    </div>
                                    {{else}}
                                    <div class="align-self-center">
                                        <a href="/ticket/removeTicketPermission/{{property}}" class="btn btn-danger"
                                            id="permi">Remove Permission</a>
                                    </div>
                                    {{/ifeq}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    {{/getProperty}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Complete Ticket -->

    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle1">Complete Ticket (select reason)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/ticket/completeTicket" method="POST">
                        <label>Reasons</label>
                        <select class="browser-default custom-select mb-4" name="reason">
                            <option value="" disabled>Choose option</option>
                            <option value="Problem has been solved" name="reason" selected>Problem has been
                                solved
                            </option>
                            <option value="No reply from sender after 2 weeks" name="reason">No reply from
                                sender
                                after 2 weeks</option>
                            <option value="Sender replying with irrelevant information" name="reason">Sender
                                replying
                                with irrelevant information</option>
                            <option value="Others" name="reason">Others</option>
                        </select>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit and Close Ticket</button>
                </div>

                </form>
            </div>
        </div>
    </div>
</body>
<script>
    document.querySelector("#files").addEventListener("change", (e) => { //CHANGE EVENT FOR UPLOADING PHOTOS
        if (window.File && window.FileReader && window.FileList && window.Blob) { //CHECK IF FILE API IS SUPPORTED
            const files = e.target.files; //FILE LIST OBJECT CONTAINING UPLOADED FILES
            const output = document.querySelector("#result");
            output.innerHTML = "";
            for (let i = 0; i < files.length; i++) { // LOOP THROUGH THE FILE LIST OBJECT
                if (!files[i].type.match("image")) continue; // ONLY PHOTOS (SKIP CURRENT ITERATION IF NOT A PHOTO)
                const picReader = new FileReader(); // RETRIEVE DATA URI 
                picReader.addEventListener("load", function (event) { // LOAD EVENT FOR DISPLAYING PHOTOS
                    const picFile = event.target;
                    const div = document.createElement("div");
                    div.innerHTML = `<img class="thumbnail" src="${picFile.result}" title="${picFile.name}" name "image${i}"/>`;
                    output.appendChild(div);

                });
                picReader.readAsDataURL(files[i]); //READ THE IMAGE
            }
        } else {
            alert("Your browser does not support File API");
        }
    });


</script>
<script src="/js/lightbox-plus-jquery.min.js"></script>
</html>